# macOS
.DS_Store

# virtual environments
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# Raw data dumps
DataSetsCBS/*.csv

# Optional: compiled extensions
*.so